body::after {
  content: url('../images/plan-bg-mobile.png') url('../images/plan-bg-mobile.webp');
  position: absolute; 
  width: 0; 
  height: 0; 
  overflow: hidden; 
  z-index: -1;
}

@font-face {
  font-family: "DMSans-Medium";
  src: url("../fonts/DMSans-Medium.ttf");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DMSans-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  src: url("../fonts/PlayfairDisplay-SemiBold.ttf");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 85%;
  margin: 0 auto;
}
@media (miax-width: 450px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 767px) {
  .line-container {
    width: 90%;
    margin: 0 auto;
  }
}

.caption {
  color: rgb(23, 195, 178);
  font-family: "DMSans-Medium";
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.caption_black {
  color: rgb(51, 51, 51);
}
@media (max-width: 991px) {
  .caption {
    font-size: 16px;
    line-height: 20px;
  }
}

.title-1 {
  color: white;
  font-family: "PlayfairDisplay-Bold";
  font-size: 69px;
  line-height: 85px;
}
@media (max-width: 1300px) {
  .title-1 {
    font-size: 64px;
    line-height: 80px;
  }
}
@media (max-width: 991px) {
  .title-1 {
    font-size: 54px;
    line-height: 65px;
  }
}
@media (max-width: 767px) {
  .title-1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .title-1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 450px) {
  .title-1 {
    font-size: 27px;
  }
}
@media (max-width: 360px) {
  .title-1 {
    font-size: 25px;
    line-height: 35px;
  }
}

.title-2 {
  color: rgb(51, 51, 51);
  font-family: "PlayfairDisplay-SemiBold";
  font-size: 50px;
  line-height: 75px;
}
.title-2_white {
  color: white;
}
@media (max-width: 991px) {
  .title-2 {
    font-size: 40px;
    line-height: 65px;
  }
}
@media (max-width: 450px) {
  .title-2 {
    line-height: 48px;
  }
}

.title-line {
  position: relative;
}
@media (min-width: 767px) {
  .title-line::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background: rgb(23, 195, 178);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -87px;
  }
}
.title-line_black:before {
  background: rgb(51, 51, 51);
}
@media (max-width: 991px) {
  .title-line::before {
    width: 50px;
    height: 1.5px;
    left: -63px;
  }
}

.desc-1 {
  font-family: "Roboto-Regular";
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 991px) {
  .desc-1 {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 575px) {
  .desc-1 {
    font-size: 16px;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(23, 195, 178);
  z-index: 20;
}
.preloader_hidden {
  display: none;
}
.preloader__box {
  position: relative;
  width: 100%;
  height: 100%;
}
.preloader__circle {
  border-radius: 100%;
  border-left: 1rem solid rgb(51, 51, 51);
  border-right: 1rem solid rgb(51, 51, 51);
  border-top: 1rem solid rgb(51, 51, 51);
  border-bottom: 1rem solid rgb(23, 195, 178);
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 0.6s infinite;
}
@media (max-width: 575px) {
  .preloader__circle {
    width: 5rem;
    height: 5rem;
    border-left: 0.5rem solid rgb(51, 51, 51);
    border-right: 0.5rem solid rgb(51, 51, 51);
    border-top: 0.5rem solid rgb(51, 51, 51);
    border-bottom: 0.5rem solid rgb(23, 195, 178);
  }
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.swiper-slider__position {
  position: relative;
}

.swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 850px) {
  .swiper-wrapper-places {
    height: 35rem;
  }
}

@media (max-width: 575px) and (min-width: 390px) {
  .slider-places {
    width: 80%;
  }
}

.swiper-pagination {
  padding-top: 5.6rem;
  position: relative;
}

.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background: rgb(245, 245, 245);
  opacity: 1;
}
.swiper-pagination-bullet:hover {
  background: rgb(23, 195, 178);
}

.swiper-pagination-bullet-active {
  background: rgb(23, 195, 178);
}

.swiper-slider__btn {
  border-radius: 100%;
  width: 41px;
  height: 41px;
  border: none;
  background: rgb(225, 225, 225);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .swiper-slider__btn {
    display: none;
  }
}
.swiper-slider__btn::after {
  content: "";
}

.swiper-button-next {
  right: -6.5rem;
  background: rgb(23, 195, 178);
}

.swiper-button-prev {
  left: -6.5rem;
}

@media (min-width: 390px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 15;
  }
}
@media (min-width: 390px) {
  .overlay__closed {
    display: none;
  }
}

.header {
  padding-top: 40px;
}
.header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
  margin-right: 30px;
}
@media (max-width: 575px) {
  .header__logo {
    width: 130px;
  }
}

@media (max-width: 991px) {
  .nav {
    background: rgb(23, 195, 178);
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -110%;
    transition: 0.5s;
    z-index: 20;
    overflow: auto;
  }
}
@media (max-width: 390px) {
  .nav {
    width: 100vw;
  }
}
.nav__opened {
  right: 0;
  transition: 0.5s;
}
@media (min-width: 991px) {
  .nav__close {
    display: none;
  }
}
@media (max-width: 991px) {
  .nav__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    font-family: "PlayfairDisplay-Bold";
  }
}
.nav__list {
  position: relative;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  .nav__list {
    flex-direction: column;
    padding: 40px;
  }
}
.nav__list-item {
  width: fit-content;
}
.nav__list-item:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 991px) {
  .nav__list-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}
.nav__list-item-link {
  color: white;
  font-size: 18px;
  font-family: "DMSans-Medium";
}
@media (max-width: 991px) {
  .nav__list-item-link {
    font-size: 20px;
  }
}

@media (min-width: 991px) {
  .hmg {
    display: none;
  }
}
@media (max-width: 991px) {
  .hmg {
    display: flex;
    flex-direction: column;
  }
}
.hmg__span {
  display: block;
  background: white;
  height: 4px;
  width: 40px;
  border-radius: 10px;
}
.hmg__span:not(:last-child) {
  margin-bottom: 5px;
}

.first-sec {
  position: relative;
}

@media (min-width: 650px) {
  .first-sec {
    background: center/cover no-repeat;
    background-image: url("../images/plan-bg.png");
    background-image: image-set(
      url(../images/plan-bg.webp) type("image/webp"),
      url(../images/plan-bg.png));
    
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  .first-sec {
    background: 0 0/100% 55% no-repeat;
    background-image: url("../images/plan-bg.png");
    background-image: image-set(
      url(../images/plan-bg.webp) type("image/webp"),
      url(../images/plan-bg.png));
  }
}
.first-sec__title {
  margin-bottom: 31px;
}
@media (max-width: 1250px) {
  .first-sec__title {
    text-align: center;
  }
}
.first-sec__text {
  color: white;
}
@media (max-width: 1250px) {
  .first-sec__text {
    text-align: center;
  }
}
.first-sec__desc {
  max-width: 752px;
}
@media (max-width: 991px) {
  .first-sec__desc {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .first-sec__desc {
    max-width: 440px;
  }
}
.first-sec__top {
  display: flex;
  justify-content: flex-end;
  padding-top: 150px;
}
@media (max-width: 1250px) {
  .first-sec__top {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .first-sec__top {
    padding-top: 75px;
  }
}
@media (max-width: 500px) {
  .first-sec__top {
    padding-bottom: 50px;
  }
}
.first-sec__top-margin {
  margin-bottom: 217px;
}
@media (max-width: 767px) {
  .first-sec__top-margin {
    margin-bottom: 150px;
  }
}
@media (max-width: 500px) {
  .first-sec__top-margin {
    margin-bottom: 0px;
  }
}

/* @media (max-width: 500px) {
  .first-sec__plan-img {
    background: center/cover no-repeat;
    background-image: url("../images/plan-bg-mobile.png");
    background-image: image-set(
      url(../images/plan-bg-mobile.webp) type("image/webp"),
      url(../images/plan-bg-mobile.png));
  }
} */

@media(min-width: 500px) {
  .first-sec__mobile-img {
    display: none;
  }
}
@media(max-width: 500px) {
  .first-sec__mobile-img {
    position: absolute;
    width: 100%;
    height: 42%;
    z-index: -1;
  }
} 

.first-sec__bottom {
  background: rgba(0, 0, 0, 0.7);
  padding: 26px 0px 64px 0px;
}
@media (max-width: 650px) {
  .first-sec__bottom {
    background: rgb(2, 89, 81);
  }
}
.first-sec__bottom-title {
  font-size: 40px;
  font-family: "PlayfairDisplay-Bold";
  line-height: 60px;
  color: white;
  text-align: center;
  margin-bottom: 22px;
}
@media (max-width: 450px) {
  .first-sec__bottom-title {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .first-sec__bottom-title {
    font-size: 27px;
  }
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 0px;
  justify-content: center;
}
@media (max-width: 1160px) {
  .form {
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .form {
    flex-direction: column;
  }
}
.form__btn {
  width: 209px;
  height: 50px;
  background: rgb(23, 195, 178);
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Roboto-Medium";
  cursor: pointer;
  padding: 15px;
  align-self: flex-end;
}
@media (max-width: 500px) {
  .form__btn {
    align-self: center;
  }
}
@media (max-width: 400px) {
  .form__btn {
    width: 100%;
  }
}
.form__item {
  margin-right: 21px;
  width: 209px;
}
@media (max-width: 1160px) {
  .form__item {
    width: 46%;
    margin-right: 0px;
  }
}
@media (max-width: 500px) {
  .form__item {
    width: 100%;
  }
}
.form__label {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "DMSans-Regular";
  line-height: 24px;
  width: 209px;
  margin-bottom: 8px;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 50px;
  border: none;
  background: white;
  border-radius: 8px;
  padding: 13px;
  font-size: 15px;
  line-height: 22px;
  font-family: "DMSans-Regular";
  position: relative;
  z-index: 5;
}
.input:focus {
  outline: none;
}
.input__calendar {
  width: 100%;
  position: relative;
}
.input__calendar::after {
  content: "";
  background: url("../icons/calendar.svg");
  display: block;
  width: 22px;
  height: 27px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 13px;
  cursor: pointer;
  z-index: 6;
  pointer-events: none;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
  width: 22px;
  height: 27px;
}

input[type=date] {
  -webkit-appearance: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
}

.second-sec {
  background: rgb(23, 195, 178);
  padding: 70px 0px;
}
.second-sec__desc {
  color: rgb(51, 51, 51);
  margin-bottom: 65px;
}
@media (max-width: 450px) {
  .second-sec__desc {
    margin-bottom: 23px;
  }
}
@media (max-width: 450px) {
  .second-sec__intro {
    margin-bottom: 10px;
  }
}

.tours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .tours {
    justify-content: center;
  }
}
.tours__img {
  height: 90px;
}
.tours__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 60px) / 4);
  margin-bottom: 11px;
  font-size: 36px;
  color: white;
  font-family: "PlayfairDisplay-Bold";
  line-height: 54px;
}
@media (max-width: 1100px) {
  .tours__item {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 600px) {
  .tours__item {
    width: 100%;
  }
}
.tours__desc {
  color: rgb(51, 51, 51);
  text-align: center;
  max-width: 264px;
}
@media (max-width: 1100px) {
  .tours__desc {
    max-width: 70%;
  }
}

.third-sec {
  background: white;
  padding: 59px 0px 46px 0px;
}
.third-sec__intro {
  margin-bottom: 11px;
}
.third-sec__desc {
  margin-bottom: 53px;
}
@media (max-width: 575px) {
  .third-sec__desc {
    margin-bottom: 25px;
  }
}
.third-sec__main {
  position: relative;
}
@media (max-width: 550px) {
  .third-sec__main {
    display: flex;
    flex-direction: column;
  }
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 51px;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  .slider {
    gap: 20px;
  }
}
.slider__wrapper {
  position: relative;
}
@media (max-width: 550px) {
  .slider__wrapper {
    width: 75%;
    align-self: center;
  }
}
@media (max-width: 450px) {
  .slider__wrapper {
    width: 100%;
  }
}
.slider__btn {
  border-radius: 100%;
  width: 41px;
  height: 41px;
  border: none;
  background: rgb(225, 225, 225);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .slider__btn {
    display: none;
  }
}
.slider__btn_left {
  left: -61px;
}
.slider__btn_right {
  right: -61px;
}
.slider__btn_active {
  background: rgb(23, 195, 178);
}
.slider__dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
.slider__dot {
  border-radius: 100%;
  background: rgb(245, 245, 245);
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
}
@media (hover: hover) and (pointer: fine) {
  .slider__dot:hover {
    background: rgb(23, 195, 178);
  }
}
.slider__dot_clicked {
  background: rgb(23, 195, 178);
}
.slider__item {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  width: 259px;
  flex-shrink: 0;
  transition: all 0.5s;
  scroll-snap-align: start;
}
@media (max-width: 450px) {
  .slider__item {
    height: 380px;
  }
}
.slider__item::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider__item-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 31px 30px;
}
.slider__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__title {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  color: white;
  text-align: center;
  margin-bottom: 7px;
}
@media (max-width: 991px) {
  .slider__title {
    font-size: 28px;
  }
}
@media (max-width: 550px) {
  .slider__title {
    font-size: 34px;
  }
}
.slider__country {
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: white;
  margin-bottom: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.slider__country::before {
  content: "";
  width: 35px;
  height: 25px;
  display: block;
  margin-right: 7px;
  bordre-radius: 4px;
}
.slider__country_egypt::before {
  background: url("../icons/egypt_icon.svg") center/cover no-repeat;
}
.slider__country_france::before {
  background: url("../icons/france_icon.svg") center/cover no-repeat;
}
.slider__country_italy::before {
  background: url("../icons/italy_icon.svg") center/cover no-repeat;
}
.slider__country_spain::before {
  background: url("../icons/spain_icon.svg") center/cover no-repeat;
}
.slider__price {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 12px;
}
.slider__span {
  color: rgb(23, 195, 178);
  font-family: "Roboto-Medium";
}
.slider__stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fourth-sec {
  background: white;
  padding: 87px 0px;
}
@media (max-width: 575px) {
  .fourth-sec {
    padding: 30px 0px;
  }
}
.fourth-sec__intro {
  margin-bottom: 50px;
}
@media (max-width: 575px) {
  .fourth-sec__intro {
    margin-bottom: 20px;
  }
}

.news {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (max-width: 991px) {
  .news {
    flex-direction: column;
  }
}
.news__left {
  width: 50%;
}
@media (max-width: 991px) {
  .news__left {
    width: 100%;
  }
}
.news__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 991px) {
  .news__right {
    width: 100%;
  }
}
.news__date {
  color: rgb(23, 195, 178);
  font-size: 16px;
  font-family: "DMSans-Medium";
  line-height: 18px;
}
@media (max-width: 450px) {
  .news__date {
    font-size: 14px;
    line-height: 16px;
  }
}
.news__item-small {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.news__img-small {
  border-radius: 10px;
}
.news__title-small {
  margin-bottom: 19px;
  color: black;
  font-size: 18px;
  font-family: "Roboto-Medium";
  line-height: 21px;
}
@media (max-width: 575px) {
  .news__title-small {
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .news__title-small {
    font-size: 15px;
    line-height: 18px;
  }
}
.news__item-big {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.news__img-big {
  border-radius: 15px;
  width: 100%;
}
.news__desc-big {
  padding-top: 15px;
}
.news__caption {
  color: rgb(23, 195, 178);
  font-size: 18px;
  font-family: "DMSans-Medium";
  line-height: 22px;
}
.news__title-big {
  color: black;
  font-size: 22px;
  font-family: "Roboto-Medium";
  line-height: 30px;
}
@media (max-width: 450px) {
  .news__title-big {
    margin-bottom: 10px;
  }
}
.news__text-big {
  color: black;
  font-size: 20px;
  font-family: "Roboto-Regular";
  line-height: 24px;
  margin-bottom: 28px;
}
@media (max-width: 450px) {
  .news__text-big {
    font-size: 18px;
    line-height: 22px;
  }
}
.news__link {
  color: rgb(23, 195, 178);
  font-size: 20px;
  font-family: "Roboto-Medium";
  line-height: 24px;
  margin-top: auto;
}

.fifth-sec {
  padding: 65px 0px 130px 0px;
  background: rgb(245, 245, 245);
}
@media (max-width: 575px) {
  .fifth-sec {
    padding: 36px 0px;
  }
}
.fifth-sec__intro {
  margin-bottom: 75px;
}
@media (max-width: 575px) {
  .fifth-sec__intro {
    margin-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .fifth-sec__title {
    line-height: 55px !important;
  }
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.offers__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offers__item {
  border-radius: 22px;
  overflow: hidden;
  position: relative;
  width: calc((100% - 60px) / 3);
}
@media (max-width: 1250px) {
  .offers__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 900px) {
  .offers__item {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 400px) {
  .offers__item {
    height: 320px;
  }
}
.offers__item_big {
  width: calc((100% - 60px) / 3 * 2 + 30px);
}
@media (max-width: 1250px) {
  .offers__item_big {
    width: 100%;
  }
}
.offers__desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 26px 26px 26px;
}
@media (max-width: 575px) {
  .offers__desc {
    padding: 20px;
  }
}
.offers__title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  color: rgb(23, 195, 178);
  font-family: "Roboto-Medium";
}
@media (max-width: 400px) {
  .offers__title {
    font-size: 16px;
  }
}
.offers__price {
  font-size: 36px;
  color: white;
  font-family: "PlayfairDisplay-Bold";
}
@media (max-width: 400px) {
  .offers__price {
    font-size: 26px;
  }
}
.offers__span {
  color: rgb(23, 195, 178);
  font-size: 16px;
  font-family: "Roboto-Medium";
}
@media (max-width: 360px) {
  .offers__span {
    font-size: 15px;
  }
}

.sixth-sec {
  padding: 88px 0px 146px 0px;
  background: white;
}
@media (max-width: 575px) {
  .sixth-sec {
    padding: 38px 0px 46px 0px;
  }
}
.sixth-sec__intro {
  margin-bottom: 114px;
}
@media (max-width: 1100px) {
  .sixth-sec__intro {
    margin-bottom: 64px;
  }
}

.slider-review {
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  gap: 110px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .slider-review {
    gap: 55px;
  }
}
@media (max-width: 575px) {
  .slider-review {
    margin-bottom: 34px;
  }
}
@media (max-width: 850px) {
  .slider-review__btn-right {
    display: none;
  }
}
@media (max-width: 850px) {
  .slider-review__btn-left {
    display: none;
  }
}
.slider-review__wrapper {
  width: 100%;
}
.slider-review__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 509px;
  transition: all 0.5s;
}
.slider-review__item-img {
  position: absolute;
  top: -30px;
  left: -43px;
}
.slider-review__item-text {
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto-Regular";
  margin-bottom: 42px;
  color: rgb(51, 51, 51);
  text-align: center;
  position: relative;
  z-index: 5;
  padding: 0px 10px;
}
@media (max-width: 991px) {
  .slider-review__item-text {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .slider-review__item-text {
    padding: 0px 0px;
  }
}
.slider-review__item-text::before {
  z-index: -1;
  content: "";
  background: url("../icons/quote.svg") center/cover no-repeat;
  display: block;
  position: absolute;
  top: -32px;
  left: 8px;
  width: 98px;
  height: 67px;
}
@media (max-width: 991px) {
  .slider-review__item-text::before {
    width: 86px;
    height: 59px;
  }
}
@media (max-width: 575px) {
  .slider-review__item-text::before {
    width: 74px;
    height: 51px;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.slider-review__item-digit {
  font-size: 20px;
  color: rgb(51, 51, 51);
  line-height: 26px;
  font-family: "Roboto-Medium";
}
.slider-review__item-grade {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: center;
  margin-bottom: 26px;
}
.slider-review__item-person {
  font-size: 18px;
  color: rgb(51, 51, 51);
  line-height: 20px;
  font-family: "Roboto-Medium";
}
.slider-review__item-job {
  font-size: 18px;
  color: rgb(170, 170, 170);
  line-height: 20px;
  font-family: "Roboto-Regular";
}
.slider-review__img-box {
  margin-bottom: 23px;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid rgb(23, 195, 178);
  width: 120px;
  height: 120px;
  position: relative;
}
@media (max-width: 575px) {
  .slider-review__img-box {
    margin-bottom: 30px;
  }
}

.footer {
  background: rgb(245, 245, 245);
  padding-top: 80px;
}
@media (max-width: 500px) {
  .footer {
    padding-top: 30px;
  }
}
.footer__logo-link {
  cursor: pointer;
}
.footer__top {
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  .footer__top {
    flex-direction: column;
  }
}
.footer__top-left {
  width: 30%;
  margin-right: 40px;
}
@media (max-width: 991px) {
  .footer__top-left {
    margin-bottom: 45px;
    margin-right: 0px;
    width: 100%;
  }
}
.footer__top-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .footer__top-right {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .footer__top-right {
    gap: 40px 0px;
  }
}
.footer__bottom {
  padding: 30px 0px;
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 575px) {
  .footer__bottom {
    justify-content: center;
  }
}
.footer__bottom-text {
  color: rgb(23, 195, 178);
  font-family: "DMSans-Regular";
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 575px) {
  .footer__bottom-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer__list {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .footer__list {
    width: 100%;
  }
}
.footer__text {
  font-size: 16px;
  font-family: "Roboto-Regular";
  color: rgb(102, 102, 102);
  margin-bottom: 5px;
}
@media (max-width: 1100px) {
  .footer__text {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .footer__text {
    font-size: 15px;
  }
}
.footer__text_list {
  margin-bottom: 20px;
}
.footer__title {
  font-size: 18px;
  font-family: "Roboto-Medium";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1100px) {
  .footer__title {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .footer__title {
    font-size: 17px;
  }
}
.footer__contacts {
  margin-bottom: 30px;
  font-size: 22px;
  font-family: "Roboto-Medium";
  color: rgb(23, 195, 178) !important;
}
@media (max-width: 1100px) {
  .footer__contacts {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .footer__contacts {
    font-size: 21px;
  }
}
.footer__icon-link {
  cursor: pointer;
}
.footer__icon-link:not(:last-child) {
  margin-right: 11px;
}/*# sourceMappingURL=style.css.map */